.admin{
    font-family: Poppins;
}
.product-add{

   display: grid;
   grid-template-columns: repeat(3,1fr);
   text-align: center;
}

.loginForm, .externalButtons{
    padding:0 20% ;
    text-align: center;
}
.externalButtons button, .loginForm input{
    display: block;
    margin-top: 20px;
    width: 100%;
    
}
.userInput{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    outline: none;
}


.formType{
    color: red;
    font-weight: bold;
    cursor: pointer;
}
.formCard{
    margin: 5% 20%;
    padding: 5% 0;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.text{
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #4CAF50;
    color: white;
  }